aside.app {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #toggled {
    #toggled:checked + .app {
      background-color: #1aa02b;
    }
  }
}

main.app {
  flex: 0 0 85%;

  @include tablet-landscape-and-below {
    flex: 0 0 100% !important;
  }
}