#aside-app-toggled {
    display: none;

    &:checked + aside.app {
        background-color: #1aa02b;
    }
}

aside.app {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;

    @import "app/aside/profile";
    @import "app/aside/navigation";
    @import "app/aside/bottom";
}

main.app {
    flex: 0 0 80%;

    @import "app/main/header";
    @import "app/main/content";
    @import "app/main/footer";
}

@include desktop-and-up {
    @import "app/web";
}

@include tablet-portrait-and-below {
    @import "app/tablet";
}

@include mobile-portrait-and-below {
    @import "app/mobile";
}
