aside.guest {
    background-position: center;
    background-size: cover;

    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @import "guest/credits";
}

main.guest {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .container {
        max-width: 500px !important;
    }

    h6 {
        font-size: 1.2rem !important;
        margin-bottom: 30px;
        color: $gray-600;
    }

    a, .btn {
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;
    }

    .btn {
        padding: .6rem 2rem;
    }

    .form-group {
        label {
            display: none !important;
        }

        .form-control {
            font-family: $font-family-sans-serif;
            padding: .875rem .75rem;
            background-color: #E8F0FE;
            font-size: .9rem;
            font-weight: 400;
            border: none;
            height: 50px;

            &:focus {
                border: none;
            }

            &::-webkit-input-placeholder,
            &::placeholder {
                font-family: $font-family-sans-serif;
                text-transform: uppercase;
                font-size: .8rem;
                font-weight: 500;
            }
        }
    }

    .grid {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            text-transform: uppercase;
            font-weight: 500;
            font-size: .8rem;
            color: $gray-600;
        }
    }
}
