@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Lobster&display=swap');

// Color system
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$brand-color: darken(#E8F0FE, 70%) !default;

// Fonts
$font-title: 'Lobster', cursive;
$font-text: 'Roboto', sans-serif;
$font-size: 16px;

// Colors
$color-background: lighten($brand-color, 47%) !default;
$color-title: $brand-color;
$color-text: darken(#ffffff, 50%);
$color-link: darken(#ffffff, 50%);
$color-error: #E86A6B;
$color-success: #DAF9DE;

// Forms
$input-background: #E8F0FE;
$input-color: darken(#E8F0FE, 50%);

// Sizes
$container-width: 80%;