// Colors
$primary: #604095 !default;
$secondary: #B6B5FE !default;
$body-bg: #ffffff !default;
$input-bg: #ffffff !default;

// Fonts
$font-family-monospace: 'Lobster', cursive;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size: 16px;

// Borders
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
