/*
  # Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  .image {
    flex: 0 0 0 !important;
  }

  .page {
    flex: 0 0 100% !important;
  }
}

/*
  # Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  .image {
    flex: 0 0 0 !important;
  }

  .page {
    flex: 0 0 100% !important;
  }
}

/*
  # Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .image {
    flex: 0 0 0 !important;
  }

  .page {
    flex: 0 0 100% !important;
  }
}

/*
  # Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .image {
    flex: 0 0 0 !important;
  }

  .page {
    flex: 0 0 100% !important;
  }
}