@import "queries";

.wrapper {
  display: flex;
  flex-wrap: nowrap;

  .image {
    flex: 0 0 70%;

    @include tablet-landscape-and-below {
      flex: 0 0 0 !important;
    }
  }

  .page {
    flex: 0 0 30%;

    @include tablet-landscape-and-below {
      flex: 0 0 100% !important;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    main {
      display: flex;
      flex-direction: column;
    }
  }
}