@import "variables";

.full-height { height: 100vh; }

.background-title { background-color: $color-title; }
.background-text { background-color: $color-text; }

.color-title { color: $color-title; }
.color-text { color: $color-text; }

.font-title { font-family: $font-title; }
.font-text { font-family: $font-text; }

.text-center { text-align: center; }
.text-right { text-align: right; }

.d-inline { display: inline !important; width: auto !important; }
.d-inline-flex { display: inline-flex !important; width: auto !important; }
.d-inline-block { display: inline-block !important; width: auto !important; }

.no-margin { margin: 0 !important; }

input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.divider {
  border-color: lighten($color-text, 30%);
  border-style: double;
  border-right: none;
  border-left: none;
  margin: 2rem auto;
  height: 5px;
  width: 70%;
}

.btn-link {
  display: inline-block !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;

  &:hover {
    color: $color-title !important;
    background: none !important;
  }
}

.alert {
  background: lighten($color-text, 45%);
  margin-bottom: 1rem;
  display: block;
  padding: 1rem;
}

.alert-success {
  background: $color-success !important;
  color: darken($color-success, 55%);
}