/*
  # Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  .wrapper {
    header, main, footer {
      padding: 100px;
    }
  }
}

/*
  # Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    header, main, footer {
      padding: 50px 20px;
    }
  }
}

/*
  # Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    header, main, footer {
      padding: 50px 150px;
    }
  }
}

/*
  # Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .wrapper {
    header, main, footer {
      padding: 50px 150px;
    }
  }
}