aside.guest {
  background-position: center;
  background-size: cover;

  .credits {
    color: rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.2);
    font-family: $font-text;
    font-size: .8rem;
    padding: 10px;

    a {
      color: rgba(255, 255, 255, 0.6);

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

