main.guest {
  .header, .content, .footer {
    width: $container-width;

    @include mobile-landscape-and-below {
      width: 90% !important;
    }
  }

  .header {
    font-family: $font-title;
    color: $brand-color;
  }

  .content {
    color: $color-text;

    h6 {
      margin-bottom: 1rem;
    }

    input {
      margin-top: 1rem;
    }

    a {
      text-align: right;
      display: block;
      margin: 1rem 0;
    }
  }
}