aside.app {
  #is-toggle {
    display: none;
  }

  .brand {
    padding: 1rem;
  }

  nav {
    background-color: #f35dfe;
    padding: 1rem;
  }

  .bottom {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1rem;
  }
}