aside.app {
  flex: 0 0 15%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

main.app {
  flex: 0 0 85%;

  @include tablet-landscape-and-below {
    flex: 0 0 100% !important;
  }
}